    <h1>Save Blog</h1>
    <form action="/saveblog" method="post">
        <div class="form-group">
          <label for="exampleInputBlogName1">BLOG NAME</label>
          <input type="text" class="form-control" id="exampleInputBlogName1" aria-describedby="emailHelp" placeholder="Enter Blog Name" name="blogname">
        </div>
        <div class="form-group">
          <label for="exampleInputAuthorName1">BLOG AUTHOR </label>
          <input type="text" class="form-control" id="exampleInputAuthorName1" aria-describedby="emailHelp" placeholder="Enter Blog Author" name="blogauthor">
        </div>
        <div class="form-group">
          <label for="exampleInputBlogContent1">BLOG CONTENT </label>
          <input type="text" class="form-control" id="exampleInputBlogContent1" aria-describedby="emailHelp" placeholder="Enter Blog Content" name="blogcontent">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <!-- <form action="/saveblog" method="get">
        <div class="form-group">
          <label for="exampleInputBlogName1">BLOG NAME</label>
          <input type="text" class="form-control" id="exampleInputBlogName1" aria-describedby="emailHelp" placeholder="Enter Blog Name" name="blogname">
        </div>
        <div class="form-group">
          <label for="exampleInputAuthorName1">BLOG AUTHOR </label>
          <input type="text" class="form-control" id="exampleInputAuthorName1" aria-describedby="emailHelp" placeholder="Enter Blog Author" name="blogauthor">
        </div>
        <div class="form-group">
          <label for="exampleInputBlogContent1">BLOG CONTENT </label>
          <input type="text" class="form-control" id="exampleInputBlogContent1" aria-describedby="emailHelp" placeholder="Enter Blog Content" name="blogcontent">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
