{{!-- {{#each rowBlogs}}
<h5>{{{rowBlogs}}}</h5>
{{/each}} --}}

{{#each rowBlogs}}
  <h5>{{this.blogname}}</h5> <!-- Replace 'blogname' with actual field name -->
  <!-- Add more fields as needed -->
{{/each}}
